* {
	font-weight: bold;
}

#main {
	width: 1609px;
	height: 1167px;
}

#flowchart {
	position: absolute;
	top: 9px;
	left: 9px;
	width: 1600px;
	height: 1167px;
	padding: 0px;
	margin: 0px;
	pointer-events: none;
	/*background-color: red;*/
}

/* engagement text box */
#engagement {
	position: absolute;
	left: 991px;
	top: 20px;
	text-align: left;
	width: 600px;
	border-radius: 0px;
	border-style: solid;
}

/* text input boxes */
.textinput {
	background-color: yellow;
	height: 26px;
	position: absolute;
	border-style: none;
	border-radius: 30px;
	text-align: center;
	font-size: 18px;
}
#startgunaastrength {
	width: 72px;
	left: 60px;
	top: 171px;
}

/* text output boxes */
.textoutput {
	position: absolute;
	text-align: center;
	font-size: 18px;
	height: 24px;
	width: 45px;
	top: 715px;
	border-style: none;
	background-color: white;
}
#finalgunaastrength {
	left: 233px;
}
#finaltargetsignature {
	left: 343px;
}
#finaltargetaltitude {
	left: 453px;
}
#finaltargetspeedmodifiers {
	left: 565px;
}
#finaltargetmaneuvers {
	left: 675px;
}
#antiairgunhitchance {
	left: 797px;
}

/* target signature buttons */
.signaturebtns {
	position: absolute;
	width: 130px;
	height: 22px;
	left: 241px;
	background-color: yellow;
	opacity: 0;
}
#signaturelarge {
	top: 930px;
}
#signaturemedium {
	top: 950px;
}
#signaturesmall {
	top: 970px;
}
#signaturevsmall {
	top: 990px;
}
#signaturestealthy {
	top: 1010px;
}

/* target altitude buttons */
.altitudebtns {
	position: absolute;
	height: 22px;
	left: 415px;
	width: 166px;
	background-color: yellow;
	opacity: 0;
}
#altitudevlownossc {
	top: 930px;
}
#altitudevlowssc {
	top: 950px;
}
#altitudelow {
	top: 970px;
}
#altitudemedium {
	top: 990px;
}
#altitudehigh {
	top: 1010px;
}

/* speed buttons */
.speedbtns {
	position: absolute;
	width: 265px;
	height: 22px;
	left: 616px;
	background-color: yellow;
	opacity: 0;
}
#speedhovering {
	top: 928px;
}
#speedslow {
	top: 948px;
}
#speedsubsonic {
	top: 968px;
}
#speedtransonic {
	top: 988px;
}
#speedlowsupersonic {
	top: 1008px;
}
#speedmedsupersonic {
	top: 1028px;
}
#speedhighsupersonic {
	top: 1048px;
}
#speedhypersonic {
	top: 1068px;
}

/* maneuver buttons */
a:link {
	color: blue;
	text-decoration: none;
}
a:visited {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: none;
}
#bearingratebutton {
	position: absolute;
	width: 170px;
	height: 20px;
	left: 960px;
	top: 1075px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	text-align: center;
	border-style: solid;
	border-radius: 20px;
}
.maneuverbtns {
	position: absolute;
	width: 254px;
	height: 22px;
	left: 919px;
	background-color: yellow;
	opacity: 0;
}
#maneuversnone {
	top: 930px;
}
#maneuversmissileterminal {
	top: 950px;
}
#maneuvershighdiving {
	top: 970px;
}
#maneuversdivergent {
	top: 990px;
}
#maneuverscrossingtarget {
	top: 1010px;
}
#maneuversnonmaneuvering {
	top: 1030px;
}

/* gun aa buttons */
.localcontrolbtns, .localcontrolonlybtns, .raeodirectedbtns {
	position: absolute;
	width: 22px;
	background-color: yellow;
	opacity: 0;
}
#localcontrolyes {
	left: 300px;
	top: 186px;
	height: 39px;
}
#localcontrolonlyyes {
	left: 340px;
	top: 324px;
	height: 39px;
}
#raeodirectedyes {
	left: 340px;
	top: 454px;
	height: 39px;
}
#localcontrolno {
	left: 231px;
	top: 186px;
	height: 31px;
}
#localcontrolonlyno {
	left: 500px;
	top: 324px;
	height: 31px;
}
#raeodirectedno {
	left: 500px;
	top: 454px;
	height: 31px;
}

/* reset button */
#resetbtn {
	position: absolute;
	left: 774px;
	top: 360px;
	border-style: solid;
	border-radius: 30px;
	border-width: 7px;
	border-color: rgb(58, 181, 75);
	background-color: white;
	height: 45px;
	width: 90px;
}