* {
	font-weight: bold;
}

#flowchart {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 1275px;
	height: 1650px;
	padding: 0px;
	margin: 0px;
	pointer-events: none;
}

/* text input boxes */
.textinput {
	position: absolute;
	background-color: yellow;
	text-align: center;
	font-size: 18px;
	height: 26px;
	border-radius: 30px;
	border-style: none;	
}

/* text output boxes */
.textoutput {
	position: absolute;
	background-color: white; 		/* temp */
	text-align: center;
	font-size: 18px;
	height: 26px;
	width: 45px;
	border-style: none;
}

/* engagement text box */
#engagement {
	left: 665px;
	top: 25px;
	text-align: left;
	width: 600px;
	border-radius: 0px;
	border-style: solid;
}

/* reaction range text boxes */
#intargetdistance {
	left: 66px;
	top: 192px;
	width: 72px;
}
#inradardistance {
	left: 187px;
	top: 192px;
	width: 85px;
}
#inradarhorizon {
	left: 321px;
	top: 192px;
	width: 72px;
}
#outlowestrange {
	left: 487px;
	top: 293px;
}
#outcsreaction {
	left: 590px;
	top: 293px;
}
#outreactionrange1 {
	left: 704px;
	top: 293px;
}
#outreactionrangefinal {
	left: 901px;
	top: 442px;
}

/* combat system reaction time boxes */
#csreactiontime {
	left: 356px;
	top: 431px;
}
#csreactionmod {
	left: 459px;
	top: 431px;
}
#csreactiondelay {
	left: 569px;
	top: 431px;
}
#targetspeed {
	left: 510px;
	top: 533px;
	width: 72px;
}
#incrementmultiplier {
	left: 681px;
	top: 431px;
}

/* combat system reaction buttons */
.csreactiontimebuttons {
	position: absolute;
	height: 22px;
	background-color: yellow;
	opacity: 0;
	left: 70px;
	width: 200px;
}
#cs1st {
	top: 427px;
}
#cs2nd {
	top: 447px;
}
#cs3rd {
	top: 467px;
}
#cs4th {
	top: 487px;
}
#cs5th6thhuman {
	top: 507px;
}
#cs5thauto {
	top: 527px;
}
#cs6thauto {
	top: 547px;
}

/* conmbat system reaction modifier buttons */
.csreactionmodifier {
	position: absolute;
	height: 22px;
	background-color: yellow;
	opacity: 0;
	left: 75px;
	width: 30px;
}
#roll2 {
	top:696px;
}
#roll3 {
	top: 716px;
}
#roll4 {
	top: 736px;
}
#roll5 {
	top: 756px;
}
#roll6 {
	top: 776px;
}
#roll7 {
	top: 796px;
}
#roll8 {
	top: 816px;
}
#roll9 {
	top: 836px;
}
#roll10 {
	top: 856px;
}
#roll11 {
	top: 876px;
}
#roll12 {
	top: 896px;
}

/* height finder range text */
#hf3dradarrange {
	left: 520px;
	top: 794px;
	width: 72px;
}
#heightfinderrange {
	left: 902px;
	top: 561px;
}

/* sam range text */
#initialsamrange {
	left: 519px;
	top: 1340px;
	width: 72px;
}
#finalsamrange {
	left: 901px;
	top: 682px;
}

/* sam range buttons */
.fasttargetbuttons, .slowtargetbuttons {
	position: absolute;
	background-color: yellow;
	opacity: 0;
}
#fasttargetno {
	top: 1105px;
	left: 532px;
	width: 22px;
	height: 31px;
}
#fasttargetyes {
	top: 1152px;
	left: 670px;
	width: 40px;
	height: 22px;
}
#slowtargetno {
	top: 951px;
	left: 532px;
	width: 22px;
	height: 31px;
}
#slowtargetyes {
	top: 997px;
	left: 670px;
	width: 40px;
	height: 22px;
}

/* reset button */
#resetbtn {
	position: absolute;
	left: 980px;
	top: 720px;
	border-style: solid;
	border-radius: 30px;
	border-width: 7px;
	border-color: rgb(46, 49, 146);
	background-color: white;
	height: 45px;
	width: 90px;
}